<article class="doc">
{{#if (eq page.layout '404')}}
<h1 class="page">無塊討</h1>
<div class="paragraph">
<p>汝卜討其網頁無敆這所。啄<a href="{{or site.url (or siteRootUrl siteRootPath)}}">這塊</a>轉遘頭頁。</p>
</div>
<div class="paragraph">
<p>你要找的网页不存在。点<a href="{{or site.url (or siteRootUrl siteRootPath)}}">这里</a>回到首页。</p>
</div>
{{else}}
{{#if page.title}}
<h1 class="page">{{{page.title}}}</h1>
{{/if}}
{{{page.contents}}}
{{/if}}
</article>
